img {
  height: 50px;
}

.section-default {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

#signup-form .form-control {
  margin: .5rem 0;
}

.signup-link {
  color: rgba(0,0,0,.5)
}

.signuperror {
  color: red;
}
